[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=Plasma i3 Window Manager
Before=plasma-workspace.target

[Service]
ExecStart={{ pillar.i3.bins.i3 }}
Slice=session.slice
Restart=on-failure
