apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    image:
      repository: traefik
      tag: 3.6.8
      
    providers:
      kubernetesGateway:
        enabled: true
