apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    image:
      repository: traefik
      tag: 3.6.8
      
    providers:
      kubernetesGateway:
        enabled: true

    ports:
      web:
        port: 80
      websecure:
        port: 443
      dns-udp:
        port: 53
        protocol: UDP
      dns-tcp:
        port: 53
        protocol: TCP

    service:
      type: LoadBalancer
      {% if pillar['k3s']['external_ips'] %}
      externalIPs:
        {% for ip in pillar['k3s']['external_ips'] %}
        - {{ ip }}
        {% endfor %}
      {% endif %}
